.header_down_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.2rem;
    height: 2rem;
    width: 95vw;
    /* border: 1px solid red; */
    border-radius: 10rem;
    /* background-color: rgba(153, 187, 212, 0.148); */
    background-color: #edf2fa;

    
}